@use "../variables.scss" as variable;
@use "../mixins.scss" as mixin;

.title {
  position: relative;
  padding: 5em 0em 2em 1em;

  h1:nth-child(2) {
    display: inline-block;
    @include mixin.text-bg-gradient;
  }

  &::after {
    position: absolute;
    width: 35vw;
    height: 1px;
    bottom: 0;
    left: calc(-50vw + 50%);
    background: 
      linear-gradient(93.29deg, #0099CC 14.64%, #FF6633 65.65%),
      linear-gradient(0deg, #BCBCBC, #BCBCBC);

    content: "";
  }
}

.vacancy-info {
  position: relative;
  padding: 2.5em;
  margin-top: 4em;
  background-color: white;
  border-radius: 5em;
  box-shadow: 20px 20px 100px rgb(221, 216, 216);

  .main-stack, .more-stack {
    display: flex;
    align-items: center;
    gap: 10px;

    .technology {
      padding: 0.4em;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  .main-stack {
    .technology {
      @include mixin.stack-icon-bg-color(variable.$main-stack-colors);
    }
  }

  .more-stack {
    .technology {
      @include mixin.stack-icon-bg-color(variable.$more-stack-colors);
    }
  }

  button {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 2em;
    right: 6em;
    color: #0099CC;
    border: 1px solid rgba(0, 153, 204, 0.4);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &::before {
      position: absolute;
      width: 0.5em;
      height: 70px;
      top: 6em;
      right: 0.2em;
      background-color: #0099CC;
      border-radius: 1em;
      transform: rotate(-45deg);
      content: "";
    }

    &::after {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 7.9em;
      right: -1.6em;
      border: solid #0099CC;
      border-width: 0 0.5em 0.5em 0;
      border-radius: 0.5em;
      content: "";
    }
  }

  &:last-child {
    margin-bottom: 15em;
  }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  header, main {
    padding: 1em;
  }
  .vacancy-info {
    .main-stack, .more-stack {
      flex-wrap: wrap;

      p {
        flex-basis: 100%;
      }
    }

    a {
      button {
        top: 90%;
        right: 2em;
        z-index: -1;
      }
    }
  }

  .vacancy-info ~ .vacancy-info {
    margin-top: 10em;
  }

  .l-text {
    text-align: end;
  }
}