@use "../variables.scss" as variable;
@use "../mixins.scss" as mixin;

.more-page-container {
  .more-title {
    margin-top: 5em;

    h2 {
      display: inline-block;
      margin-top: 0.5em;
      padding-bottom: 0.1em;
      @include mixin.text-bg-gradient;
    }
  }

  .item-1, .item-2, .item-3, .item-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;

    .image {
      object-fit: cover;
      object-position: center;
      border-radius: 15em;
    }
    
    > * {
      flex: 0 1 40%;
      margin-bottom: 0.5em;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .image {
        margin-right: 5em;
      }
    }

    &:nth-child(even) {
      .image {
        margin-left: 5em;
      }
    }

    &:last-of-type {
      margin-bottom: 5em;
    }
  }

  .item-2 {
    .more-stack-wrapper {
      h4 {
        margin: 0.5em;
      }

      .requirements {
        .min_requirements {
          position: relative;
          margin-left: 2.5em;

          @include mixin.vector-element;
        }
      }

      .technologies {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;

        h4 {
          flex-basis: 100%;
        }

        .more_technologies {
          padding: 0.4em;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
  
          @include mixin.stack-icon-bg-color(variable.$more-stack-colors);
        }
      }
    }

    .more-stack-wrapper {
    .more_technologies {
      @include mixin.stack-icon-bg-color(variable.$more-stack-colors);
    }
   } 
  }

  .tasks-wrapper {
    .tasks {
      position: relative;
      margin-left: 2em;

      @include mixin.vector-element(#0099CC);
    }
  }

  .list-offer-wrapper {
    .list_offer {
      position: relative;
      margin-left: 2em;

      @include mixin.vector-element;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .more-page-container {
    .more-title {
      h2 {
        margin: 0;
      }
    }

    .more-title, .item-1, .item-2, .item-3, .item-4{
      padding: 0 2em 0 2em;
    }

    .item-1, .item-2, .item-3, .item-4 {
      flex-direction: column-reverse !important;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 0;

      .image {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 2.5em;
      }
    }

    .item-1 {
      text-align: justify;
    }

    .item-2 {
      .more-stack-wrapper {
        .requirements {
          .min_requirements {
            margin-left: 1em;
          }
        }

        .technologies {
          gap: 3px;
        }
      }
    }

    .tasks-wrapper {
      .tasks {
        margin-left: 1em;
      }
    }
  
    .list-offer-wrapper {
      .list_offer {
        margin-left: 1em;
      }
    }
  }
}
