@use "../variables.scss" as variable;
@use "../mixins.scss" as mixin;

.more-page-container {
  .more-title {
    margin-top: 10em;
    padding-bottom: 5em;

    h2 {
      display: inline-block;
      @include mixin.text-bg-gradient;
    }
  }

  .item-1, .item-2, .item-3, .item-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;

    .image {
      width: 688px;
      height: 401px;
      object-fit: cover;
      object-position: center;
      border-radius: 15em;
    }
  }

  .item-2 {
    .more-stack-wrapper {
      h4 {
        margin: 0.5em;
      }

      .requirements {
        .min_requirements {
          margin: 0.5em 0.5em 0.5em 2em;
        }
      }

      .technologies {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;

        h4 {
          flex-basis: 100%;
        }

        .more_technologies {
          padding: 0.4em;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
  
          @include mixin.stack-icon-bg-color(variable.$more-stack-colors);
        }
      }
    }

    .more-stack-wrapper {
    .more_technologies {
      @include mixin.stack-icon-bg-color(variable.$more-stack-colors);
    }
   } 
  }
}