@use "./components/index.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.main-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  header, main {
    grid-column: 2 / 12;
  }
}