$h1-font-size: 72px;
$h1-line-height: 72px;
$h2-font-size: 48px;
$h2-line-height: 48px;
$h3-font-size: 24px;
$h3-line-height: 38.4px;
$h4-font-size: 18px;
$h4-line-height: 28.8px;
$p-l-text-font-size: 30px;
$p-l-text-line-height: 36.31px;
$p-sm-text-font-size: 16px;
$p-sm-text-line-height: 25.6px;

$mobile-h1-font-size: 36px;
$mobile-h1-line-height: 36px;
$mobile-h2-font-size: 36px;
$mobile-h2-line-height: 36px;
$mobile-h3-font-size: 20px;
$mobile-h3-line-height: 32px;
$mobile-p-l-text-font-size: 20px;
$mobile-p-l-text-line-height: 24.2px;
$mobile-p-sm-text-font-size: 15px;
$mobile-p-sm-text-line-height: 24px;

$dark-color: #08162A;
$dark-black-color: #363636;
$light-color: #FFFFFF;

$main-stack-colors: 
#FF6633, 
#0099CC, 
#84D1ED, 
#725CA8, 
#2F7BBF, 
#2671A2,
#5ae328, 
#4800ff,
#c81010,
#03af9e;

$more-stack-colors:
#FF6633, 
#0099CC, 
#84D1ED, 
#725CA8, 
#2F7BBF, 
#2671A2,
#5ae328;